body{background-color: #ffbf64;
    background-image: url(../imagenes/fondito.jpg);
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
padding-left: 20px;}

    h1{font-size: 175%;}
    .centrar {text-align: center;}
    .blanco {color:white;
    font-weight: 1000;}
    .tamaño {font-size: large;}
    .subrayado {text-decoration-line: underline;}
     img { width: 350px;
    height: auto;}
    .izquierda {text-align: right;}
    .mapa { float: right;}
    iframe{width: 350px;
    height: 200px;}
    ol li::marker{color: #FC8F9B;
    font-weight: bold;}
    li{font-size:large ;
    font-weight: bold;}
    nav{
        background-color: #f6d168  ;
        padding: 0%;
        margin: auto;
        width: 50%;
        display: flex;
        justify-content: center;
        padding-left: 20px;
       
    }
    nav ul{ background-color: #f6d168;
        list-style: none;
        padding: 0%;
        display: flex;
        justify-content: center;
    }
    nav ul li {
    font-family: arial,sans-serif;
    font-size: 16px;
margin-right: 5px;
border-radius: 5px;}
    nav ul li a{display:block;
    padding: 10px;
    color: blanchedalmond;
    text-decoration: none;}
    nav ul li:hover{background: red;}
    section{padding-top: 80px;}
    .ig{display: flex;
    justify-content: center;
    margin-bottom: 20px;
flex-wrap: wrap;}
    .ig img {width: 50px;
    height: auto;
    margin-right: 10px;
    ;}
    .Whatsapp{width: 105px;
        height: auto;}
    .link{position: fixed;
    bottom: 20px;
    right: 20px;
z-index: 999;}
    header {display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    flex-wrap: wrap;
    }
    .logo{width: 100px
    ;height: auto;}
    footer{display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 100px;
    }
    .igfut{display: flex;
    justify-content: center;
    margin-bottom: 20px;
    }
    .igfut img{width: 75px;
        height: auto;
        justify-content: space-between;
        margin-right: 10px;}
    .contactos{text-align: center;}
    .fondodecontactos {background-color: #ffbf64}
    .barra:hover{background-color: darkgoldenrod;}
    .regresar:hover{background-color: blueviolet;
    color: black;}
    .igs:hover{transform: scale(2);}
    .loguitos:hover{background-color: lightcyan;}
    .Whatsapp:hover{width: 120px;}
   header{width: 100%;}
   nav{width: 80%;}
   nav ul{width: 50vw;}
   nav ul li{width: 60vw;}
.lados {display: flex;
justify-content: space-between;}
section {width: 70%;
padding-top: 80px;
padding-left: 20px;}
.instrucciones {width: 90%;}
aside {width: 25%;
padding-top: 80px;
padding-left: 20px;}
@media (max-width: 950px){ .mapa { display: none;
}
    
}
@media (min-width: 950px){  .mapita { display: none;
}
    
}
@media (min-width: 700px){  .fondito { display: none;
}
    
}
@media (min-width: 700px){  body{ background-color: #ffbf64; background-image: none;} 
    
}

.card-title {color: brown;
text-decoration: underline;
display: flex;
justify-content: center;}
.tarjeta1 {padding-top: 20px;}
.tarjeta2 {padding-top: 20px;}
.tarjeta3 {padding-top: 20px;}
.tarjeta4 {padding-top: 20px;}
.visual {background-color: #f6d168; border:#f6d168;
    
}
.visual:hover{background: white;}
.informacion{ display: flex;
    background-color:blanchedalmond;
padding-right: 50px;
height: 40px;
border:blanchedalmond ;
border-radius: 25%;
text-align: center;}
.informacion:hover{background: white;}
.card{ z-index: 1;}
.flecha1{width: 100px;
height: auto;}
.flecha2{width: 100px;
    height: auto;
padding-top: 500px;}
.flecha3{width: 100px;
    height: auto;
display: flex;
align-items: center;}